.lmj-footer {
	color: black;
	padding: 32px;
	border-top: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
}

.lmj-footer-elem {
	margin-bottom: 10px;
}
input{
	height: 9px; 
	padding: 8px;
	font-size: 16px;
}


.btnE {
	background-color: #4caf50; 
	color: #fff;
	padding: 7px; 
	margin: 3px;
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	transition: background-color 0.3s;
  }
  
  
  .btnE:hover {
	background-color: #e0e0e0; 
  }
