.lmj-shopping-list {
	width: 100%;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.btn {
	background-color: #31b472; 
	color: #fff; 
	padding: 10px 20px; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	font-size: 16px; 
  }
  
 
  .btn:hover {
	background-color: #45a049; 
  }